@import './common/variables.scss';
@import './common/fonts.scss';

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  height: 100%;
  @media screen and (max-width: 1920px){
    font-size: 66.406%; // 17/16* 62.5 
  }

  @media screen and (max-width: 1100px){
    font-size: 62.5%; /*default browser font = 16px => convert to 10px [16 * 62.5%]*/
  }

  @media screen and (max-width: 800px){
    font-size: 59.60%; // 15/16 * 62.5
  }
  @media screen and (max-width: 414px){ 
    font-size: 54.68%; // 14/16 * 62.5
  }
  
}

body { 
  min-height: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: 'Noto Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;

}


@import './components/navigation';
@import './components/link';
@import './components/toolbar';